#featuredPlaylist{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF69B4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#featuredPlaylist:hover{
    background-color: #FF0099;
}
body{
    background-image: url('assets/img/featuredBackground.jpg');
    overflow: auto;
}
.homePageHeader{
    text-align: center;
    box-shadow: 10px 5px 5px 10px;
    padding: 5px;

}
.HomePagePlayList{
    margin-top: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
    width: 100%;
}
.SongDetails{
    margin: 10px 10px 10px 10px;
    /* padding-left: 20px; */
    width: 80%;
    float: right;

}
.FeaturedImage{
    cursor: pointer;
    width: 200%;
    height: auto;
    border-radius: 10px;
    padding: 3px;
    margin: 20px 60px 30px 10px;
}
.ImageDetails{
    display: block;
    border-radius: 10px;
}
.FeaturedPlaylistSongTitle{
    font-size: 50px;
    margin-left: 40px;
}
.song-box{
    /* border: solid white;
    border-collapse: collapse; */
    width: 110%;
    border-radius: 10px;
    padding: 0px;
}
.song-box{
    display: flex;
}
.songDetailsSide{
    display: block;
    margin-left: 30px;
}
.SongImage{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.HomePagePlayList{
    /* box-shadow: #FF0099; */
    border: solid white;
    /* width: 90%; */
    align-items: center;
    justify-content: center;
}
@media(max-width: 768px){
    
}
/* .homePageFooter{
    background-color: #FF0099;
    clear: both;
    padding: 10px 50px 10px 20px;
    margin: 2px 0px 0px 0px;
} */
