body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/img/backgrounddesign.jpg');
}

.playlist-cards{
    display: flex;
    flex-wrap: wrap;
    /* Making my display grid like */
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0px 4px 8px rgba(0, 0, 0 , 0.2);}
    /* /* Divide my 8 images into 4 equal rows */

.playlist-block{
    width: 250px;
    padding: 10px;
    margin: 30px 60px 30px 60px;
    border-radius: 10px;
    background-color: palevioletred;
    color: white;
}
.music-art{
    width: 250px;
    border-radius: 10px;
    border:solid white;
}
.music-text{
    border: 10px;
    border-color: solid white;
}
.playlist-block:hover{
    background-color: deeppink;
 }

.playlist-block.SongBlockImage{
    width: 250px;
    border-radius: 10px;
 }
.footer{
    clear: both;
    background-color: #FFF0F5;
    padding: 10px 50px 10px 20px;
    margin: 2px;
}
.header{
    background-color: #FFF0F5;
    padding: 10px 50px 10px 20px;
    text-align: center;
    font-size: 30px;
}
.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color: pink;
    margin: 15% auto;
    padding: 20px;
    border: 1px;
    width: 50%;

}

.song {
    display: flex;
}

.close{
    color: red;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
p {
    color: black;
}
#SongImage{
    width: 250px;
    margin: 20px;
    border-radius: 20px;
}
#SongTitle{
    text-align: left;
    position: relative;
    margin-left: 20px;
    top: 0px;
    left: 0px;
    margin-right: 0px;
    ;
}
#ArtistName{
    color: black;
    margin-left: 20px;
}
.SongBlockImage{
    width: 150px;
    margin: 5px 10px 5px 10px;
    border-radius: 20px;
}
.SongBlock{
    border: solid white;
    display: flex;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;

}
.SongDetails{
    margin-left: 20px;
}
@media (max-width: 768px){
    .playlist-cards{
        width: 20%;
    }
    .modal-overlay{
        width: 80%;
    }
}
#modal.open{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 25%;
    height: 25%;
}
